PORT=8080
JIRA_PROJECT_KEY=OMNIPAIR
JIRA_WEBHOOK_SECRET=
X_ACCESS_TOKEN=PUT_YOUR_X_ACCESS_TOKEN_HERE
DRY_RUN_TWITTER=false
DRY_RUN_DISCORD=false
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/xxx/yyy
